# Student Loan Risk with Deep Learning

In [252]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student_loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [253]:
# Read the csv into a Pandas DataFrame
url = "https://static.bc-edx.com/mbc/ai/m6/datasets/student_loans.csv"
data = pd.read_csv(url)

# Review the DataFrame
data.head(5)

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [254]:
# Review the data types associated with the columns
data.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [255]:
# Define the target set y using the credit_ranking column
y = data['credit_ranking']

# Display a sample of y
y.head()

0    5
1    5
2    5
3    6
4    5
Name: credit_ranking, dtype: int64

In [256]:
# Define features set X by selecting all columns but credit_ranking
X = data.copy().drop(columns='credit_ranking')

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [257]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [259]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(X_train)

# Scale both the training and testing data from the features dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [260]:
# Define the the number of inputs (features) to the model
number_inputs = 11

# Review the number of features
number_inputs

11

In [261]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [262]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 6

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

6

In [263]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4

In [264]:
# Create the Sequential model instance
nn = Sequential()

In [265]:
# Add the first hidden layer
nn.add(Dense(
    units=hidden_nodes_layer1,
    input_dim=number_inputs,
    activation="relu")
)

In [266]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [267]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="relu"))

In [268]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_25 (Dense)            (None, 6)                 72

 dense_26 (Dense)            (None, 4)                 28

 dense_27 (Dense)            (None, 1)                 5

=================================================================
Total params: 105 (420.00 Byte)
Trainable params: 105 (420.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `mse` loss function, the `adam` optimizer, and the `mse` evaluation metric.

In [269]:
# Compile the Sequential model
nn.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [270]:
# Fit the model using 50 epochs and the training data
deep_net_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 1s 3ms/step - loss: 30.6219 - mse: 30.6219
Epoch 2/50
38/38 [==============================] - 0s 4ms/step - loss: 28.4657 - mse: 28.4657
Epoch 3/50
38/38 [==============================] - 0s 3ms/step - loss: 25.4101 - mse: 25.4101
Epoch 4/50
38/38 [==============================] - 0s 3ms/step - loss: 21.8172 - mse: 21.8172
Epoch 5/50
38/38 [==============================] - 0s 3ms/step - loss: 18.0701 - mse: 18.0701
Epoch 6/50
38/38 [==============================] - 0s 4ms/step - loss: 14.3631 - mse: 14.3631
Epoch 7/50
38/38 [==============================] - 0s 4ms/step - loss: 11.1620 - mse: 11.1620
Epoch 8/50
38/38 [==============================] - 0s 4ms/step - loss: 8.6208 - mse: 8.6208
Epoch 9/50
38/38 [==============================] - 0s 5ms/step - loss: 6.6864 - mse: 6.6864
Epoch 10/50
38/38 [==============================] - 0s 4ms/step - loss: 5.2562 - mse: 5.2562
Epoch 11/50
38/38 [==============================] - 0s 3ms/step - loss: 4.2492 - mse: 4.2492
Epoch 12/50
38/38 [==============================] - 0s 4ms/step - loss: 3.5632 - mse: 3.5632
Epoch 13/50
38/38 [==============================] - 0s 4ms/step - loss: 3.1169 - mse: 3.1169
Epoch 14/50
38/38 [==============================] - 0s 4ms/step - loss: 2.8187 - mse: 2.8187
Epoch 15/50
38/38 [==============================] - 0s 5ms/step - loss: 2.6171 - mse: 2.6171
Epoch 16/50
38/38 [==============================] - 0s 6ms/step - loss: 2.4647 - mse: 2.4647
Epoch 17/50
38/38 [==============================] - 0s 4ms/step - loss: 2.3391 - mse: 2.3391
Epoch 18/50
38/38 [==============================] - 0s 4ms/step - loss: 2.2299 - mse: 2.2299
Epoch 19/50
38/38 [==============================] - 0s 4ms/step - loss: 2.1277 - mse: 2.1277
Epoch 20/50
38/38 [==============================] - 0s 3ms/step - loss: 2.0309 - mse: 2.0309
Epoch 21/50
38/38 [==============================] - 0s 3ms/step - loss: 1.9440 - mse: 1.9440
Epoch 22/50
38/38 [==============================] - 0s 3ms/step - loss: 1.8547 - mse: 1.8547
Epoch 23/50
38/38 [==============================] - 0s 4ms/step - loss: 1.7689 - mse: 1.7689
Epoch 24/50
38/38 [==============================] - 0s 4ms/step - loss: 1.6831 - mse: 1.6831
Epoch 25/50
38/38 [==============================] - 0s 4ms/step - loss: 1.5990 - mse: 1.5990
Epoch 26/50
38/38 [==============================] - 0s 3ms/step - loss: 1.5153 - mse: 1.5153
Epoch 27/50
38/38 [==============================] - 0s 3ms/step - loss: 1.4380 - mse: 1.4380
Epoch 28/50
38/38 [==============================] - 0s 5ms/step - loss: 1.3661 - mse: 1.3661
Epoch 29/50
38/38 [==============================] - 0s 5ms/step - loss: 1.2969 - mse: 1.2969
Epoch 30/50
38/38 [==============================] - 0s 2ms/step - loss: 1.2302 - mse: 1.2302
Epoch 31/50
38/38 [==============================] - 0s 4ms/step - loss: 1.1704 - mse: 1.1704
Epoch 32/50
38/38 [==============================] - 0s 4ms/step - loss: 1.1160 - mse: 1.1160
Epoch 33/50
38/38 [==============================] - 0s 4ms/step - loss: 1.0619 - mse: 1.0619
Epoch 34/50
38/38 [==============================] - 0s 4ms/step - loss: 1.0096 - mse: 1.0096
Epoch 35/50
38/38 [==============================] - 0s 3ms/step - loss: 0.9611 - mse: 0.9611
Epoch 36/50
38/38 [==============================] - 0s 4ms/step - loss: 0.9196 - mse: 0.9196
Epoch 37/50
38/38 [==============================] - 0s 4ms/step - loss: 0.8778 - mse: 0.8778
Epoch 38/50
38/38 [==============================] - 0s 3ms/step - loss: 0.8399 - mse: 0.8399
Epoch 39/50
38/38 [==============================] - 0s 4ms/step - loss: 0.8040 - mse: 0.8040
Epoch 40/50
38/38 [==============================] - 0s 3ms/step - loss: 0.7715 - mse: 0.7715
Epoch 41/50
38/38 [==============================] - 0s 4ms/step - loss: 0.7373 - mse: 0.7373
Epoch 42/50
38/38 [==============================] - 0s 4ms/step - loss: 0.7090 - mse: 0.7090
Epoch 43/50
38/38 [==============================] - 0s 3ms/step - loss: 0.6819 - mse: 0.6819
Epoch 44/50
38/38 [==============================] - 0s 3ms/step - loss: 0.6571 - mse: 0.6571
Epoch 45/50
38/38 [==============================] - 0s 4ms/step - loss: 0.6337 - mse: 0.6337
Epoch 46/50
38/38 [==============================] - 0s 5ms/step - loss: 0.6137 - mse: 0.6137
Epoch 47/50
38/38 [==============================] - 0s 3ms/step - loss: 0.5949 - mse: 0.5949
Epoch 48/50
38/38 [==============================] - 0s 4ms/step - loss: 0.5785 - mse: 0.5785
Epoch 49/50
38/38 [==============================] - 0s 4ms/step - loss: 0.5650 - mse: 0.5650
Epoch 50/50
38/38 [==============================] - 0s 4ms/step - loss: 0.5521 - mse: 0.5521

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [271]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss:.4f}, Accuracy: {model_accuracy:.4f}")

13/13 - 0s - loss: 0.6042 - mse: 0.6042 - 105ms/epoch - 8ms/step
Loss: 0.6042, Accuracy: 0.6042

### Step 4: Save and export your model to an HDF5 file, and name the file `student_loans.h5`.

In [272]:
# Set the model's file path
file_path = Path("saved_models/student_loans.h5")

# Export your model to a HDF5 file
nn.save(file_path)

/home/chance/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [273]:
# Set the model's file path
file_path = Path("saved_models/student_loans.h5")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data.

In [275]:
# Make predictions on the testing data
predictions = nn_imported.predict(X_test_scaled).round().astype("int32")

13/13 [==============================] - 0s 2ms/step

### Step 3: Create a DataFrame to compare the predictions with the actual values.

In [276]:
# Create a DataFrame to compare the predictions with the actual values
results = pd.DataFrame({"predictions": predictions.ravel(), "actual": y_test})

### Step 4: Display a sample of the DataFrame you created in step 3.

In [278]:
# Display sample data
results.head(20)

      predictions  actual
75              5       5
1283            5       6
408             5       6
1281            6       6
1118            7       6
1143            6       6
1215            6       6
181             5       5
1186            5       5
1252            6       5
1422            6       6
248             5       6
1314            5       6
1406            7       6
292             5       6
60              5       5
870             6       6
1486            5       5
1518            5       5
478             5       5